*
{
    border: 1px solid black;
}

body
{
    height: initial;
}

div.card
{
    width: 220px;
    margin: 20px;
}

div.card-img
{
    height: 100px;
    width: 100%;
    background: url(../static/Megumin_Padoru.jpg);
	background-size: cover;
    background-position: center;

}
